/* Common Styles */

.button-color{
    background-color:#A4BC46;
    color: white;
}
.background-color-card-image{
    background-color: #F1F1F1;
    height:400px;
}
.background-color-card{
    background-color: white;
    
}

/* Nav Bar Styles */
.navigation-bar{
    background-color: #FFFBF0;
    
}

/* Header Section  */
.header-section{
    background-color:#FFFBF0 ;
}
.highlight-color-one{
    color:#FABE4C;
}
.hightlight-color-two{
    color: #363958;
}